*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
}
body{
    background-image: url("images/background.jpg");
    background-attachment: fixed;
}
header{
    margin: auto;
    background-color:rgba(255, 255, 255,0.8);
    height: 120px;
    width: 900px;
    border-radius: 30px 30px 0px 0px;
}
#contenedorTitulo{
    height: 100%;
    width: 70%;
    margin: auto;
    text-align: center;
}
ul{
    height: 20%;
    margin-top: 0px;
    list-style-type: none;
}
li{
    display: inline-block;
    text-align: center;
    margin: 0px 50px;
}
li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 20px 0px;
}
li a:hover{
    background-color: rgba(238, 130, 238, 0.2);
    transition: 1s;
    border-radius: 30px 0px;
}
#contenedor{
    position: relative;
    height: 1250px;
    background-color: rgba(255, 255, 255,0.8);
    margin: auto;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 20px;
}
#nombre{
    font-family: 'Ruthie', cursive;
    font-size: 400%;
    text-align: center;
}
#fila{
    padding: 15px;
}
#celda{
    float: left;
    width: 49%;
    height: 400px;
}
.c1>div, .c4>div, .c5>div{
    height: 40%;
    margin-top: 30%;
    transform: translate(0 ,-100%);
    text-align: justify;
    font-family: Verdana;
    font-size: 15px;
    padding: 0px 10%;
}
.c1>div span, .c4>div span, .c5>div span{
    display: block;
    width: 50%;
    font-family: 'Ruthie',cursive;
    font-size: 60px;
    margin-left:50%;
    transform: translate(-50%);
    text-align: center;
}
.c2 div, .c3 div, .c6 div{
    margin-top:30%;
    margin-left: 50%;
    transform: translate(-50%,-100%);
    height: 28%;
    width: 60%;
    text-align: center;
    font-family: 'Ruthie', cursive;
    font-size: 500%;
    padding: 5px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:40px 300px;
}
.c1{
    background-image: url("images/celda1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.c2{
    background-image: url("images/arribaizq.jpg");
    background-size: cover;
}
.c3{
    background-image: url("images/florizq.jpg");
    background-size: cover;
}
.c4{
    background-image: url("images/celda3.png");
    background-repeat: no-repeat;
    background-position: left;
}
.c5{
    background-image: url("images/celda6.png");
    background-repeat: no-repeat;
    background-position: left;
}
.c6{
    background-image: url("images/abajoizq.png");
    background-size: cover;
}
#fila4{
    position: fixed;
    top: 10px;
    left: 60px;
    background-color:rgba(255, 255, 255,0.8);
    height: 110px;
    width: 110px;
    border-radius: 60%;
}
#celda1{
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 600px ;
    height: 100%;
    width: 100%;
}
#celda1:hover{
    background-color: rgba(238, 130, 238, 0.3);
    border-radius: 50% ;
    transition: 2s;
}