body,html{
    width: 100%;
    margin: 0; 
    background-image: linear-gradient(to left top, #6396c0, #7ebaeb, #bbe0ff, #c8f1fd, #fff);
    background-repeat: no-repeat;
    font-family: calibri;
}
.container{
    width: 1000px;
    margin: auto;
    display: flex;
}
.item1{
    padding-top:40px;
    background-color: #2b76b3;
    width: 300px;
}
.item2{
    padding-top:40px;
    width: 800px;
    background-color: rgb(255, 255, 255);
}
.foto{
    width: 100%;
    margin-bottom:40px;
    display: flex;
    justify-items: center;
}
.foto img{
    margin: auto;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.titulo{
    padding:5px 20px;
    margin: 10px 30% 0px 0%;
    color: #FFF;
    font-size: 30px;
    background-color: #173F5F;
    width: 66%;
    text-transform: uppercase;
    border-radius: 0px 5px 5px 0px;
}
#textPerfil{
    font-size: 17px;
}
.text{
    text-align: justify;
    padding: 25px;
}
.info{
    display: flex;
    margin: 5px 0px;
}
.leng, .infoIdioma{
    font-size: 18px;
    width: 90px;
}
.fa-star{
    color:#F6D55C;
}
.tit2{
    color:#173f5f;
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#nombreApe{
    text-align: left;
}
#titNombre{
    font-size: 50px;
    margin: 0px 50px 0px 60px;
    font-weight: bold;
}
#titConcepto{
    margin: 0;
    text-align: left;
    margin-left: 60px;
}
.fas{
    color: #F6D55C;
}
.contacto{
    display: flex;
    width: 70%;
    margin: 10px 50px 0px 60px;
}
.email, .telefono{
    display: flex;
    margin-right: 40px;
}
.emailText, .telText{
    margin:0;
    padding-left: 10px;
}
.descripcion{
    text-align: justify;
    padding-left: 60px;
    padding-right: 40px;
}
.educacion,.experienciaLaboral, .otrosDatos{
    margin-left: 60px;
}
.estudios, .trabajos{
    margin-left: 20px;
    margin-bottom: 20px;
    border-left: 4px solid #F6D55C;
    padding: 5px;;
}
.tituloEstudios, .tituloTrabajos{
    font-size: 25px;
}
.fechas, .datos{
    margin-left: 10px;
}
.fechas{
    font-size:18px;
}
.leng, .infoIdioma{
    font-size: 18px;
}
.fa-envelope, .fa-phone-alt{
    color: #173f5f;
}
