html{
    margin: 0;
    
}
body, html {
    margin: 0;
    height: 100vh;
    width: 100%;
     
}
#contenidoContacto{
    background: rgba(33,181,226,1);
    background: -moz-linear-gradient(45deg, rgba(33,181,226,1) 0%, rgba(183,222,237,1) 50%, rgba(183,222,237,1) 51%, rgba(33,181,226,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,181,226,1)), color-stop(50%, rgba(183,222,237,1)), color-stop(51%, rgba(183,222,237,1)), color-stop(100%, rgba(33,181,226,1)));
    background: -webkit-linear-gradient(45deg, rgba(33,181,226,1) 0%, rgba(183,222,237,1) 50%, rgba(183,222,237,1) 51%, rgba(33,181,226,1) 100%);
    background: -o-linear-gradient(45deg, rgba(33,181,226,1) 0%, rgba(183,222,237,1) 50%, rgba(183,222,237,1) 51%, rgba(33,181,226,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(33,181,226,1) 0%, rgba(183,222,237,1) 50%, rgba(183,222,237,1) 51%, rgba(33,181,226,1) 100%);
    background: linear-gradient(45deg, rgba(33,181,226,1) 0%, rgba(183,222,237,1) 50%, rgba(183,222,237,1) 51%, rgba(33,181,226,1) 100%);
    height: 100vh;
    width: 100%;
    position: absolute;
   
}
h1{
    display: block;
    margin: 60px auto 0px auto;
    letter-spacing: 3px;
    font-family: miFuente;
}
#formulario{
    background-color: white;
    border-radius: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 130px auto 40px auto;
    background-image: url("../imagenes/S20.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}        
#frmContacto{
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 0 auto;
    padding: 50px;
}
#nombreApellidos{
    display: flex;
    justify-content: space-between;
}
input{
    border: 1px solid grey;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    background-color: white;
}
input:focus{
    outline:0;
}
textarea{
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 10px;    
    width: 400px;
    height: 130px;
}
textarea:focus{
    outline:0;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top: 20px;
}
button:active{
    outline:0;
}

@media screen and  (max-width: 570px){
    #contenidoContacto{
        height: 1200px;
    }
    h1{
        margin: 40px auto 20px auto;
    }
    #formulario{
        width: 300px;
        height: 500px;
    }
    textarea{
        width: 230px;
        height: 100px;
    }
    #frmContacto{
        width: 250px;
        padding:0;
        margin: 0 auto; 
    }
    #nombreApellidos{
        flex-direction: column;
    }
}
@media screen and  (min-width: 570px) and (max-width: 1000px){
    #contenidoContacto{
        height: 1000px;
    }
    #formulario{
       width: 600px;
       height: 500px;
   }
   textarea{
       width: 400px;
       height: 160px;
   }
   #frmContacto{
       width: 400px;
       padding:0;
   }
}
@media screen and  (max-height: 600px){
    html,body{
        height: 1000px;
    }
    #contenidoContacto{
        height: 1000px;
    }
    footer{
        bottom: 0;
    }
}