footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;  
}

footer .condiciones{
   display: flex;
   margin-top :20px;
}
footer .condiciones a{
    margin:10px;
    padding:15px 10px;
    text-decoration: none;
    color:white;
}
footer .redes{    
    display: flex;
    padding:5px;
    text-decoration: none;
}
footer .redes a{
    text-decoration: none;
    margin: 0px 25px 15px 25px;
    color:rgb(0, 121, 168);
    letter-spacing: 1px;

}

@media screen and  (min-width: 570px) and (max-width: 1000px){
    footer{
        flex-direction: column;
    }
    .condiciones{
        flex-direction: column;
        text-align: center;
    }
    .condiciones1, .condiciones2{
        display: flex;    
        margin: auto;
    }
    .redes{
        justify-content: center;
    }
    footer .redes a{
        margin: 0px 5px 5px 5px;
    }
    footer .condiciones a{
        margin: 0px 5px 5px 5px;
        padding:2px;
    }
}
@media screen and  (max-width: 570px){
    footer{
        flex-direction: column;
    }
    .condiciones{
        flex-direction: column;
        text-align: center;
    }
    .condiciones1, .condiciones2{
        display: flex;
        flex-direction: column;
    }
    .redes{
        justify-content: center;
    }
    footer .redes a{
        margin: 0px 5px 5px 5px;
    }
    footer .condiciones a{
        margin: 0px 5px 5px 5px;
        padding:2px;
    }
}