*{
    box-sizing: border-box;
}
#calculadora{
    text-align: center;
    height: 490px;
    width: 350px;
    background-color: rgb(54, 54, 54);
    padding: 20px 10px ;
    border-radius: 10px;
}
#marca{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.pantalla{
    text-align: right;
    font-size: 28px;
    font-family: 'Press Start 2P', cursive;
    height: 70px;
    width: 300px;
    background-color: seagreen;
    color: rgb(13, 39, 24);
}
#fila{
    padding: 2px;
}
#botones{
    margin-top: 30px;
}
.boton{
    height: 60px;
    width: 60px;
    padding: 4px;
    font-size: 30px;
    border-radius: 6px;
    border: rgb(90, 90, 90) 2px inset;
}
.boton:focus, #Ccientifica>button:focus{
    outline: none;
}
#cientifica{
    background-image: url("test-tube.png");
    background-size: 30px ;
    background-repeat: no-repeat;
    background-position: center;
}
.boton:hover,#Ccientifica>button:hover{
    background-color: rgb(194, 194, 194);
}
#Ccientifica>button{
    width: 60px;
    height: 30px;
    padding: 4px;
    border-radius: 6px;
}
#botonesCientifica{
    display: none;
}